<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div>
        <label for="username">Username</label>
        <input type="text" id="username" required [(ngModel)]="loginData.username" name="username" #username="ngModel">
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="error">
          Username is required please input
        </div>
      </div>
      
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" required [(ngModel)]="loginData.password" name="password" #password="ngModel">
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
          Password is required
        </div>
      </div>
  
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>
  
